# Global
BasedOnStyle: LLVM

# Indent
IndentWidth: 4
AccessModifierOffset: -4

# Pointer
PointerAlignment: Left
DerivePointerAlignment: false

# Collapse
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
